﻿/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 930px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.conference-container {
    margin-bottom:80px;
    position: relative; 
    cursor:pointer;
    overflow:hidden;
    height:250px;
    width:200px;
}

.conference-container img {
    position: relative;
    width:200px; 
    height: 250px
}

.conference-status {
    width: 200px; 
    height: 50px; 
    font-family: 'PT Sans Narrow', sans-serif; 
    font-size: 2em; 
    text-align: center; 
    color: #ffffff; 
    padding-top:5px; 
}

.conference-status.free {
    background-color: #60ad47;
    position:absolute;
    top:200px;
}

.conference-status-container {
    position:absolute;
    top:200px;
}

.conference-status.busy {
    background-color: #f2482a;
}

.conference-details {
    font-family: 'PT Sans Narrow', sans-serif; 
    font-size:1em;
    border:1px solid #999999;
    color:#000000;
    border-top: none;
    background-color:#C2DCED;
    opacity:0.9;
    width:200px;
    height:200px;
}

.conference-details ul{
   list-style:none;
   padding: 20px 10px 0 10px;
}

.conference-details li{
   padding-bottom:10px;
   padding-top:10px;
   border-bottom:1px solid #999999;
}